<header class="header">
  <h1 class="title">Malmös Blogg</h1>
  <nav>
    <ul class="main-navigation">
      <li><a class="link <%= currentLink === 'home' ? 'active-link' : '' %>" href="/">Home</a></li>
      <li><a class="link <%= currentLink === 'createblog' ? 'active-link' : '' %>" href="/blog/new">New Post</a></li>
    </ul>
  </nav>
  <% if(currentLink==="home" || currentLink==="tag" || currentLink==="detail" ) { %>
    <aside>
      <ul class="tag-navigation">
        <% for(let i=0; i < allTags.length; i++) { %>
          <li><a href="/tag/<%= allTags[i].toLowerCase() %>"
              class="tag-link <%= pageTitle.toLowerCase() === allTags[i].toLowerCase() ? 'active-link' : '' %>">
              <%= allTags[i] %>
            </a></li>
          <% } %>
      </ul>
    </aside>
    <% } %>
</header>