<header class="header">
  <h1 class="title">Malmös Blogg</h1>
  <nav>
    <ul class="main-navigation">
      <li><a class="link <%= currentLink === 'home' ? 'active-link' : '' %>" href="/">Home</a></li>
      <li><a class="link <%= currentLink === 'createblog' ? 'active-link' : '' %>" href="/blog/new">New Post</a></li>
    </ul>
  </nav>
  <% if(currentLink === 'home' || currentLink === 'tag' || currentLink === 'detail') { %>
    <aside>
      <ul class="tag-navigation">
        <% if (Array.isArray(blogposts)) { %>
          <% blogposts.forEach(blogpost => { %>
            <% blogpost.tags.forEach(tag => { %>
              <li>
                <a href="/tag/<%= tag.toLowerCase() %>"
                   class="tag-link <%= pageTitle.toLowerCase() === tag.toLowerCase() ? 'active-link' : '' %>">
                  <%= tag %>
                </a>
              </li>
            <% }); %>
          <% }); %>
        <% } else if (blogposts && blogposts.tags) { %>
          <% blogposts.tags.forEach(tag => { %>
            <li>
              <a href="/tag/<%= tag.toLowerCase() %>"
                 class="tag-link <%= pageTitle.toLowerCase() === tag.toLowerCase() ? 'active-link' : '' %>">
                <%= tag %>
              </a>
            </li>
          <% }); %>
        <% } %>
      </ul>
    </aside>
  <% } %>
</header>
